@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.bg-safe{
  background: linear-gradient(to right, #87CEFA 20%, #5F9EA0 80%);
}
.bg-unsafe{
  background: linear-gradient(to right, #FF6347 20%, #DC143C 80%);
}



.drops{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop{
  position: absolute;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 57% 43% 37% 63% / 51% 53% 47% 49%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 2px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before{
  content: '';
  position: absolute;
  top: 25px;
  left: 35px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 57% 43% 37% 63% / 48% 37% 63% 52%;
}

.drop::after{
  content: '';
  position: absolute;
  top: 25px;
  left: 65px;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 57% 43% 37% 63% / 48% 37% 63% 52%;
}

.drop:nth-child(2){
  transform: scale(0.5) translate(-200px, 180px);
  border-radius: 64% 36% 42% 58% / 42% 37% 63% 58%;
  /* border: 2px solid black; */
}

.drop:nth-child(3){
  transform: scale(0.5) translate(280px,10px);
  border-radius: 49% 51% 42% 58% / 56% 47% 53% 44%;
}

.drop:nth-child(4){
  transform: scale(0.53) translate(120px,-350px);
  border-radius: 39% 61% 63% 37% / 77% 47% 53% 23%;
}